GROQ_API_KEY= 
OPTIMISM_RPC_URL= "https://mainnet.optimism.io"
BASE_RPC_URL= "https://mainnet.base.org"
ARBITRUM_RPC_URL= "https://arb1.arbitrum.io/rpc"
ALPHA_PRIVATE_KEY= 
GAMMA_PRIVATE_KEY= 
PORT=4000
NODE_ENV_ID= "development"
